.vscode/**
.vscode-test/**
.gitignore
node_modules
out/
src/
tsconfig.json
webpack.config.json
**/*.ts
**/*.map
**/tsconfig.json
**/tsconfig.base.json
contributing.md
.travis.yml
language-server/client/node_modules/**
language-server/client/out/**
language-server/parser/node_modules/**
language-server/parser/out/**
language-server/server/node_modules/**
language-server/server/out/**